---

---

<html lang="ja">
  <head>
    <meta property="og:title" content="redirect..." />
    <meta
      http-equiv="refresh"
      content={import.meta.env.PROD
        ? "0; url=https://corporate.craft-bank.com/"
        : "0; url=/cbo"}
    />
    <link rel="canonical" href="https://corporate.craft-bank.com/" />
  </head>
  <body><p>redirect...</p></body>
</html>
